<nav class="navbar navbar-expand-sm-bg-light"> 
    <h3 style="font-size: 36px; margin-left: 20px;">VERITAS</h3>
    <ul class="nav nav-pills">
        <li class="nav-item" style="margin-right: 20px; font-size: 24px; color: lightblue;"><a class="nav-link" href ="/">Home</a></li>
        <li class="nav-item" style="margin-right: 20px; font-size: 24px; color: lightblue;"><a class="nav-link" href ="/about">About</a></li> 
    </ul>
</nav>