<html>
    <head>
        <%- include ('partials/head') -%>
        <link type="text/css" rel="stylesheet" href="magiczoomplus/magiczoomplus.css"/>
        <script type="text/javascript" src="magiczoomplus/magiczoomplus.js"></script>
        <style>
            .container-fluid {
                width: 70%
            }
            .hover-emboss {
                color: lightskyblue;
                text-decoration: none;
            }
            .hover-emboss:hover {
                font-size: 120%;
            }
        </style>        
    </head>
    <body>
        <%- include ('partials/loginNav') -%>
        <% var fn = user.name.split(" "); %>
        <div class = "container-fluid">
           <!-- 
            <% if ( message != '-1' ) { %>
                <% if (message == '1') { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <strong>Success!</strong> <%= message %>
                    </div>
                <% } %>
            <% } %>
            -->
            <div class="row">
                <h2 class="header" >Welcome <%= fn[0] %></h2> 
                <br />   
                <h4 style="margin-top: 30px; margin-bottom: 20px;">Account Type: <strong>Citizen</strong></h4> 
            </div>
            <div class="row">
                <div id="table-options">
                    <ul class="options-list">
                        <li class="option"><a class="hover-emboss" href="/citizen/logComplaint">Log a Complaint</a></li>
                        <li class="option"><a class="hover-emboss" href="/citizen/complaintList">My Complaints</a></li>
                        <li class="option"><a class="hover-emboss" href="#">Police Station Details</a></li>
                        <li class="option"><a class="hover-emboss" href="#">View Circulars</a></li>
                        <li class="option"><a class="hover-emboss" href="#">My Account</a></li>
                        <li class="option"><a class="hover-emboss" href="#">Change Password</a></li>
                        <li class="option"><a class="hover-emboss" href="#">Submit Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>    
    </body>
</html>