<html>
    <head>
        <%- include ('partials/head') -%>      
        <style>
            .container-fluid {
                margin-top: 5%;
                margin-bottom: 5%;
                border:black; 
                border-width:1px; 
                border-style:solid;
                border-radius: 25px;
                background-color: lightblue;
                color: black;
            }
            table {
                margin-bottom: 2.5%;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                border-radius: 25px;
                border-color: rgb(14, 14, 99);

            }

            td, th {
                border: 1px solid grey;  
                text-align: left;
                padding: 8px;
                color: black;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .alert {
            padding: 20px;
            background-color: #04AA6D;
            color: white;
            }

            .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            }

            .closebtn:hover {
            color: black;
            }
        </style> 
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <%- include ('partials/loginNav') -%>
        <div class="container-fluid" style="align-content: center; width: 60%">
            <div class="row" style="margin-top: 15px;">
                <h2 class="header" style="font-size: 50px; margin-bottom: 50px;">View Circulars</h2>
            </div>
            <div class="row rowform">
                <a onclick="goBack()" style = "padding-left: 1000px; text-decoration: underline; color:navy">Go Back</a>
            </div>
            <br>
            <table>
                <tr>
                  <th>Circular Title</th>
                  <th>Files</th>
                </tr>
                <% for ( const i in circulars ) { %>
                    <tr>
                        <td><%= circulars[i].title%></td>
                        <td><a href="/uploads/<%= circulars[i].filename %>" target="_blank">View File</td>
                      </tr>
                <% } %>
                </table>
        </div>
    </body>
</html>