<html>
    <head>
        <%- include ('partials/head') -%>      
        <style>
            .rowform {
                margin-bottom: 15px;
            }
            .container-fluid {
                margin-top: 5%;
                margin-bottom: 5%;
                border:black; 
                border-width:1px; 
                border-style:solid;
                border-radius: 25px;
                background-color: lightblue;
                color: black;
            }
            input {
                color: black;
            }
        </style> 
    </head>
    <body>
        <%- include ('partials/loginNav') -%>
        <div class="container-fluid" style="align-content: center; width: 60%">
            <div class="row" style="margin-top: 15px;">
                <h2 class="header" style="font-size: 50px; margin-bottom: 50px;">Log a Complaint</h2>
            </div>
            <div class="row formrow">
                <form method="POST" action="/citizen/logComplaint" style="margin-left: 17.5%;">
                    <div class="row rowform">
                        <label class="col-sm-4">Title<span style="color: red; font-size: small; margin: 5px;">*</span></label>
                        <input class="col-sm-8" type="text" name="title" required="">
                        <p class="errmsg" style="color: red; display: none;">Field is required</p>
                    </div>
                    <div class="row rowform">
                        <label class="col-sm-4">Police Station<span style="color: red; font-size: small; margin: 5px;">*</span></label><br />
                        <select class="col-sm-8" name="policeStation" style="width: 67%; height: 24px; margin: 5px; margin-left: 30px;" required="">
                            <option value="">*Please select*</option>
                            <option value="A">Station A</option>
                            <option value="B">Station B</option>
                            <option value="C">Station C</option>
                            <option value="D">Station D</option>
                            <option value="E">Station E</option>
                        </select>
                        <p class="errmsg" style="color: red; display: none;">Field is required</p>
                    </div>
                    <div class="row rowform">
                        <label class="col-sm-4">Address<span style="color: red; font-size: small; margin: 5px;">*</span></label>
                        <input class="col-sm-8" type="text" name="address" required="">
                        <p class="errmsg" style="color: red; display: none;">Field is required</p>
                    </div>
                    <div class="row rowform">
                        <label class="col-sm-4">Details<span style="color: red; font-size: small; margin: 5px;">*</span></label>
                        <textarea class="col-sm-8" type="text" name="details" style="height: 150px; width: 67%; margin: 5px; margin-left: 30px;" required=""></textarea>
                        <p class="errmsg" style="color: red; display: none;">Field is required</p>
                    </div>
                    <button type="submit" style="margin-top: 15px;">Submit Complaint</button>
                </form>
            </div>
        </div>
    </body>

</html>