<html>
    <head>
        <%- include ('partials/head') -%>
    </head>
    <body>
        <%- include ('partials/nav') -%>
        <div class="header" style="margin-top: 10%;">
            <h2><%= message %></h2>
            <br />
            <p style="font-size: 24px;">Thanks for joining us <%= fname %></p>
            <br>
            <p style="font-size: 24px;">Go back to the <a href="/" style="color: lightblue;">home page</a> to login</p>
        </div>

    </body>
</html>